---
layout: default
---

<!-- _layouts/cv.html -->
        <div class="post">

	<object data="../assets/pdf/Ishaan_CV_2024.pdf" width="1000" height="1500" type='application/pdf'></object>

        </div>